{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>ToDo</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
       <div class="col-md-6">
            <form action="" method="post" class=" p-3 shadow">
                {% csrf_token %}
                    <div class="form-group" >
                        <input type="text" class="form-control" placeholder="Task" name="task">
                    </div> <br>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Priority" name="priority" >
                    </div> <br>
                    <div class="form-group">
                        <input type="date" class="form-control" name="date" >
                    </div> <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" style="background-color: cadetblue;">Submit</button>
                    </div>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Task to complete</h3> <br>
            {% for i in task %}
            <div class=" shadow card">
                <div class="card-body">
                  <h5 class="card-title"> {{i.name}}</h5>
                  <p class="card-text"><b>{{i.priority}}</b></p>
                  <p class="card-text"><b>{{i.date}}</b></p>
                  <a href="{% url 'todoapp:delete' i.id %}" class="btn btn-success">Done</a>
                  <a href="{% url 'todoapp:update' i.id %}" class="btn btn-warning">update</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
       
        
    </div>
        
</div>
{% endblock %}